<h1>Convert your currency to another</h1>

<%= form_with(url: currency_conversion_exchange_path, method: 'post', local: true) do %>
  <div class="form-group mt-3">

    <%= label_tag :current_currency, 'FROM', class: 'mt-3'%>
    <%= select_tag :current_currency, options_for_select([ "USD", "EUR", "GBP", "UAH"], "USD"), class: 'form-control mt-3'%>
    
    <%= label_tag :convert_to_currency, 'TO', class: 'mt-3'%>
    <%= select_tag :convert_to_currency, options_for_select([ "USD", "EUR", "GBP", "UAH"], "USD"), class: 'form-control mt-3'%>

    <%= label_tag :amount, 'AMOUNT', class: 'mt-3' %>
    <%= number_field_tag 'amount', class: 'form-control mt-3' %>

    <%= label_tag :date, "DATE" %>
    <%= date_field_tag :date, class: 'form-control mt-3' %>

  </div>
  
  <%= button_tag 'Convert', class: 'btn btn-success mt-3 mb-5' %>
  
<% end %>
<div class="container text-center">
  <h4 calss="text-align-center">UAH / USD</h4>
  <%= line_chart UahRate.group_by_day(:created_at).sum(:rate), library: {backgroundColor: "#eee"}, ytitle: "UAH for 1 USD",  min: 36, max: 38 %>
</div>